<h1 class="p-text-center">Details du jeu</h1>

<div *ngIf="(jeu$ | async) as jeu">
  <h3 class="p-text-center">{{jeu.nom}}</h3>
  <img class="tImage p-text-center" src="{{jeu.url_media}}" alt="image du jeu">
  <p><b>Description :</b> {{jeu.description}}</p>
  <p><b>Thème :</b> {{jeu.theme_id.nom}}</p>
  {{jeu.id}}
  <p><b>Règles : </b>{{jeu.regles}}</p>
  <p><b>Catégorie :</b> {{jeu.categorie}}</p>
  <p><b>Langue :</b> {{jeu.langue}}</p>
  <p><b>Éditeur : </b>{{jeu.editeur_id.nom}}</p>
  <p><b>Nombre de joueur :</b> {{jeu.nombre_joueurs}}</p>
  <p><b>Age : </b>{{jeu.age}}</p>
  <p><b>Poids : </b>{{jeu.poids}}</p>
  <p><b>Durée : </b>{{jeu.duree}}</p>

  <div *ngIf="authService.isLoggedIn$ | async">
    <app-achatjeu [id_jeu]=jeu.id.toString()></app-achatjeu>
  </div>

  <div><b>Mecaniques : </b>
  <ul>
    <li *ngFor="let mecanique of jeu.mecaniques"><p>{{mecanique.nom}}</p></li>
  </ul>
  </div>

  <app-ajoutcommentaires [jeu_id]=jeu.id.toString()></app-ajoutcommentaires>

    <h3>Commentaires : </h3>
    <div *ngFor="let commentaire of jeu.commentaires" class="card">
      <div>
        <div class="p-grid nested-grid test">
          <div class="p-col-1">
            <div class="box box-stretched p-d-flex p-jc-center"><p-avatar label="P" size="xlarge" class="pp"></p-avatar></div>
          </div>
          <div class="p-col-8">
            <div class="p-grid">
              <div class="p-col-12">
                <div class="box"><p><b style="padding-right:10px">{{commentaire.user.nom}}</b><small>il y a : {{commentaire.date_com | amTimeAgo:true}}</small></p></div>
              </div>
              <div class="p-col-12">
                <div class="box">{{commentaire.commentaire}}</div>
              </div>
              <div class="p-col-12">
                <div class="box"><p-rating [ngModel]="commentaire.note" readonly="true" [cancel]="false"></p-rating></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

