.title {font-size: 2rem; font-weight: bold;}
.body {font-sie: 1rem;}
.tilte-film {font-weight: bold;}
.calendar {font-size: 1.5rem; margin-bottom: 5px; padding-right: 5px}
.image{
  width : 20%;

}



.bouton{
  margin-left: auto;
  margin-right: auto;
}
