<html>
<header>
<p>
<a class="logo" href="#/">
    <img class="ng-tns-c1-0" alt="logo" src="/assets/img/Logo.png" height="40" class="p-mr-2" alt="brand logo">
</a>
  Mafia
</p>
  <p-tabMenu [model]="items">
  </p-tabMenu>
  </header>

    <router-outlet></router-outlet>
<body>




  <footer>
    <ul>
      Projet réalisé par la Mafia :
      <li> Antoine Longbien</li>
      <li> Cantin Calin</li>
      <li> Romain Behamza</li>
      <li> Harold Delory</li>
      <li> Hervé Dubois</li>
    </ul>
    <p>Company © W3docs. All rights reserved.</p>
  </footer>
</body>
</html>



