<html>


<body>

<h1>
  Edition du profil :
</h1>
<div id="container">

  <div *ngIf="authService.isLoggedIn$ | async">
    <form [formGroup]="editprofile" (ngSubmit)="onSubmit()">
      Pseudo :<input type="text" formControlName="pseudo" /><br>
      nom:<input type="text" formControlName="nom" /><br>
      Prenom :<input type="text" formControlName="prenom" /><br>
      email :<input type="text" formControlName="email" /><br>

      <button [disabled]="!editprofile.valid" pButton label="Sauvegarder" class="p-button-success"></button>
    </form>
  </div>


</div>
</body>
</html>
