/* You can add global styles to this file, and also import other style files */
.p-tabmenu .p-tabmenu-nav {
  background: mediumspringgreen;
}

p-tabmenuitem p-menuitem-link{
  background: mediumspringgreen;
}

body{
  background: #f9f9fa;
}




h1{
  text-align: center;
color: #6c757d;
}
